<div class="left-side-menu">
    <div class="slimscroll-menu">
        <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
                <li>
                    <a [routerLink]="['/home']">
                        <i class="fe-users"></i>
                        <span>Usuarios</span>
                    </a>
                    <a  [routerLink]="['/home']">
                        <i class="fe-list"></i>
                        <span>Lista de intereses</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
