<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Lista de intereses</h4>
                    </div>
                </div>
            </div>      
			<div class="row">
				<div class="col-md-12">
					<div class="card-box">
						<h4 class="header-title">Intereses puede seleccionar como máximo 5</h4>
						<form autocomplete="off" (ngSubmit)="onSubmitForm(form)" #form="ngForm">
							<div class="form-row mt-2">
								<div class="form-group col-md-8 mt-1">
									<select2 [data]="intereses" [value]="usuario.intereses"  multiple="true" placeholder="Selecionar" name="intereses" [ngModel]="usuario.intereses"></select2>
								</div>
								<div class="form-group col-md-4 mt-1">
									<button type="submit" class="btn btn-primary"><i class="fe-save"></i> Guardar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card-box">
						<h4 class="header-title mb-3">Puedes ver los usuarios que tengan sus intereses en común</h4>
						<div class="table-responsive">
							<table class="table mb-0">
								<thead>
									<tr>
										<th>Nombres</th>
										<th>Intereses</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of interesesComunes">
										<td>{{item.usuario}}</td>
										<td>
											<ul>
												<li *ngFor="let interes of item.intereses">{{ interes }}</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
  <app-footer></app-footer>
